<!DOCTYPE html>
<html>
    <head>

        <title>Login Portal</title>
        <link rel="stylesheet" href="/style.css">
    
    </head>

    <body>
        <nav>
            <h1>Welcome to Portal</h1>
            <h3> Connect ,Learn & Grow Together</h3>
        </nav>
    
        <form action="/submit" method="POST">
            <h2>Login </h2>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required placeholder="Enter your Name "><br><br>
    
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter Your Mail" ><br><br>
    
            <button type="submit">Submit</button>
        </form>
         
    </body>
</html> 
    
    
   
    

      

