<!DOCTYPE html>
<html>
    <head>

        <title>Login Status</title>
        <link rel="stylesheet" href="/style.css">
    
    </head>

    <body>

        <h1 class="one">Thank You!</h1>
        
        <p>Hi ,<span class="bold-name"><%= name%></span> Form Submitted Succesfully</p>
        <P>We will reach you soon</P>
        <p>Email:<span class="bold-name"><%= email%></span></p>
    
        <a href="/">Go back form</a>

    </body>
</html>
 

   
        
   
    



    
   

        



   
    
        